body {
  font-family: 'Source Sans Pro', sans-serif;
  background-image: url('../img/bg.png');
  background-repeat: repeat;
}

.serif {
  font-family: 'EB Garamond', serif;
}

.mono {
  font-family: 'Source Code Pro', monospace;
}

a {
  color: #8f2424;
}

a:hover {
  color: #6b1818;
}

.social-media-links a {
  color: #666;
}

.social-media-links a:hover {
  color: #111;
}

.bg-nav {
  background-color: rgba(255, 255, 255, 0.6);
}

.bg-page {
  background-color: rgba(255, 255, 255, 0.3);
}
