{% extends "base.html" %}

{% block page %}

<div class="container pt-5">
  <div class="row">
    <div class="col-12">
      <h1 class="display-1 serif text-center">Justin Vasel</h1>
      <h5 class="serif text-center text-muted">~ <em>Physics Ph.D. Candidate</em> ~</h5>
    </div>
  </div>
  <br><br><br><br>
  <div class="row">
    <div class="col-12">
      <h1 class="display-2 mono text-center">404</h1>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-12">
      <h3 class="serif text-center">The existence of this page is disfavored at 5\(\sigma\).</h3>
    </div>
  </div>
  <br><br><br><br><br>
  <div class="row">
    <div class="col-12">
      <h5 class="serif text-center">
        <em>
          <a href="/"><i class="fas fa-arrow-alt-circle-left"></i> Back to safety</a>
        </em>
      </h5>
    </div>
  </div>
</div>

{% endblock %}
