{% extends "page.html" %}

{% block content %}

<div class="container pt-5 pb-5 bg-page border rounded">
  <div class="row">
    <div class="col-12">
      <h1 class="display-2 mono text-center">404</h1>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-12">
      <h4 class="text-center">The existence of this page is disfavored at 5\(\sigma\).</h4>
    </div>
  </div>
  <br><br><br><br><br>
  <div class="row">
    <div class="col-12">
      <h5 class="text-center">
        <em>
          <a href="/"><i class="fas fa-arrow-alt-circle-left"></i> Back home</a>
        </em>
      </h5>
    </div>
  </div>
</div>

{% endblock %}
