{% extends "base.html" %}

{% block page %}

<div class="container pt-5">
  <div class="row">
    <div class="col-12">
      <h1 class="display-1 serif text-center">Justin Vasel</h1>
      <h5 class="serif text-center text-muted">~ <em>Physics Ph.D. Candidate</em> ~</h5>
    </div>
  </div>
  <br><br><br><br>
  <div class="row">
    <div class="col-12">
      <h1 class="display-2 mono text-center">500</h1>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-12">
      <h3 class="serif text-center">
        The server divided by zero and collapsed into a singularity <small><i class="far fa-frown"></i></small> <br>
        Please try again soon.
      </h3>
    </div>
  </div>
  <br><br><br><br><br>
  <div class="row">
    <div class="col-12">
      <h5 class="serif text-center">
        <em>
          In the meantime, follow me on <i class="fab fa-twitter"></i> Twitter:
          <a href="https://www.twitter.com/justinvasel">@justinvasel</a>
        </em>
      </h5>
    </div>
  </div>
</div>

{% endblock %}
