{% extends "base.html" %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-12">
      <h1 class="serif">Code</h1>

      <div class="card-deck">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="https://placehold.it/400x200/444444/cccccc" alt="Card image cap">
          <div class="card-body">
            <p class="card-text">
              <strong>WHIPS</strong> <span class="badge badge-success">Author</span><br>
              The Washington-HEP Integrated Planning System
            </p>
          </div>
          <div class="card-footer">
            <small class="text-muted">
              <i class="fab fa-github"></i>
              <a href="https://github.com/justinvasel/WHIPS" target="_blank">
                justinvasel/WHIPS
              </a>
            </small>
          </div>
        </div>

        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="https://placehold.it/400x200/444444/cccccc" alt="Card image cap">
          <div class="card-body">
            <p class="card-text">
              <strong>HARP</strong> <span class="badge badge-success">Author</span><br>
              The HALO Monitoring System
            </p>
          </div>
          <div class="card-footer">
            <small class="text-muted">
              <i class="fa fa-lock"></i>
                Private codebase
              </a>
            </small>
          </div>
        </div>

        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="https://placehold.it/400x200/444444/cccccc" alt="Card image cap">
          <div class="card-body">
            <p class="card-text">
              <strong>Neomutt</strong> <span class="badge badge-secondary">Contributor</span><br>
              Email client
            </p>
          </div>
          <div class="card-footer">
            <small class="text-muted">
              <i class="fab fa-github"></i>
              <a href="https://github.com/neomutt/neomutt" target="_blank">
                neomutt/neomutt
              </a>
            </small>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

{% endblock %}
