{% extends "page.html" %}

{% block content %}

<div class="container serif bg-page pt-4 pb-4 rounded-bottom">
  <div class="row">
    <div class="col-12">
      <h1 class="serif">Curriculum Vitae</h1>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-5">
      <figure class="figure">
        <img class="figure-img rounded border" src="{{ url_for('static', filename='img/cv.png') }}" width="100%">
        <figcaption class="figure-caption">
          <em>Fig. 1:</em> A mere taste of what awaits you inside my CV. What
          might you find? Treasure? Glory? Adventure? No. But I hope you will
          take a look anyway.
        </figcaption>
      </figure>
    </div>
    <div class="col-7 readable">
      <p>
        I <em>would</em> include a native version of my CV here, but I typset it in
        \(\LaTeX\) and don't want to maintain it in HTML simultaneously. Call me
        lazy! Then again, I suppose I could just write a script tha—NO! I have a
        thesis to write!
      </p>

      <br>
      <p>
        Please find my current CV in the following forms:
        <ul>
          <li>Downloadable
            <a href="https://github.com/{{ config['CV_GITHUB_REPO'] }}/releases/download/{{ gh_tag_latest }}/{{ config['CV_FILENAME'] }}">
              <i class="far fa-file-pdf"></i> PDF file
            </a>
          </li>
          <li>
            As source code, at
            <a href="https://github.com/justinvasel/curriculum-vitae" target="_blank">
              this <i class="fab fa-github"></i> github repository
            </a>
          </li>
        </ul>
      </p>

    </div>
  </div>
</div>

{% endblock %}
