{% extends "page.html" %}

{% block content %}

<div class="container serif bg-page pt-4 pb-4 rounded-bottom">
  <div class="row">
    <div class="col-12">
      <h1>Events</h1>

      <p class="readable">
        I love sharing the excitement of my work with others. Whether it's in
        front of a general audience of non-scientists or a department colloquim
        full of particle physicists, I am always happy to talk about awesome
        physics.
      </p>

      <p class="readable">
        Please get in touch if you'd like me to speak at your event—a formal
        talk, a panel, an interview, a podcast, or whatever—I'd love to hear
        from you. Pop over to my <a href="/contact">contact page</a> for more
        information.
      </p>

      <p class="text-muted">
        Note: I'll make the slides for many of these talks available here soon.
        Just need to find a little time to upload them all...
      </p>
    </div>
  </div>

  {% if upcoming_events | length > 0 %}
  <hr>
  <div class="row">
    <div class="col-12">
      <span class="float-right text-muted">
        {{ upcoming_events | length }} upcoming
        {% if upcoming_events | length == 1 %}
        event
        {% else %}
        events
        {% endif %}
      </span>

      <h2>
        Upcoming
      </h2>

      <br>
      <table class="table table-sm">
        <thead>
          <tr>
            <th>Date</th>
            <th>Event</th>
            <th>Details</th>
          </tr>
        </thead>
        <tbody>
          {% for event in upcoming_events %}
          <tr>
            <td class="date" style="min-width: 120px;">{{ event[0].date }}</td>
            <td>
              {{ event[0].name }} —
              <span class="text-nowrap text-muted">{{ event[0].location }}</span>
            </td>
            <td>
              {% if event[0].type %}
              <strong>{{ event[1].name | safe | capitalize }}</strong> —
              {% endif %}
              {{ event[0].description | safe }}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  {% endif %}

  {% if past_events | length > 0 %}
  <hr>
  <div class="row">
    <div class="col-12">
      <span class="float-right text-muted">
        {{ past_events | length }} past
        {% if past_events | length == 1 %}
        event
        {% else %}
        events
        {% endif %}
      </span>

      <h2>Past</h2>

      <br>
      <table class="table table-sm">
        <thead>
          <tr>
            <th>Date</th>
            <th>Event</th>
            <th>Details</th>
          </tr>
        </thead>
        <tbody>
          {% for event in past_events %}
          <tr>
            <td class="date" style="min-width: 120px;">{{ event[0].date }}</td>
            <td>
              {{ event[0].name }} —
              <span class="text-nowrap text-muted">{{ event[0].location }}</span>
            </td>
            <td>
              {% if event[0].type %}
              <strong>{{ event[1].name | safe | capitalize }}</strong> —
              {% endif %}
              {{ event[0].description | safe }}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  {% endif %}

</div>

{% endblock %}
