{% extends "page.html" %}

{% block content %}

<div class="container serif bg-page pt-4 pb-4 rounded-bottom">
  <div class="row">
    <div class="col-12">
      <h1>Events</h1>

      <p class="readable">
        I love giving talks and sharing the excitement of my work with others.
        Whether it's in front of a general audience of non-scientists or a
        department colloquim full of particle physicists, I am always happy
        to talk about awesome physics.
      </p>

      <p class="readable">
        Please get in touch if you'd like me to speak at your event—a formal
        talk, a panel, an interview, a podcast, or whatever—I'd love to hear
        from you. Pop over to my <a href="/contact">contact page</a> for more
        information.
      </p>
    </div>
  </div>

  <hr>
  <div class="row">
    <div class="col-12">
      <h2>Upcoming</h2>

      <br>
      <h4>2018</h4>
      <table class="table">
        <thead>
          <tr>
            <th>Date</th>
            <th>Event</th>
            <th>Details</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>April 16</td>
            <td>American Physical Society April Meeting; Columbus, OH</td>
            <td>Talk: <em>"Supernova Neutrino Detection at the NOvA Experiment"</em></td>
          </tr>
          <tr>
            <td>June 4–9</td>
            <td>Neutrino 2018; Heidleberg, Germany</td>
            <td>Poster: <em>"Detection of Galactic Supernova Neutrinos at the NOvA Experiment" (pending acceptance)</em></td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>

  <hr>
  <div class="row">
    <div class="col-12">
      <h2>Past</h2>

      <br>
      <h4>2018</h4>
      <table class="table">
        <thead>
          <tr>
            <th>Date</th>
            <th>Event</th>
            <th>Details</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>March 25</td>
            <td>PGSC Five Minute Thesis; Indiana University</td>
            <td>Chalk talk: <em>"My thesis in five minutes"</em></td>
          </tr>
          <tr>
            <td>February 7</td>
            <td>GPSG Talks; Bloomington, Indiana</td>
            <td>Talk: <em>"Supernova and Neutrinos: Where Puny Particles Meet Enormous Explosion"</em></td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>

</div>

{% endblock %}
