{% extends "page.html" %}

{% block content %}

<div class="container serif bg-page pt-4 pb-4 rounded-bottom">
  <div class="row">
    <div class="col-12">
      <h1>Who am I?</h1>

      <hr>
      <figure class="figure float-left mr-3" style="width: 30%;">
        <img class="figure-img rounded border" src="{{ url_for('static', filename='img/vasel.jpg') }}" width="100%">
        <figcaption class="figure-caption">
          <em>Fig. 1:</em> There I am. <em>(Photo credit: Filip Jediny)</em>
        </figcaption>
      </figure>

      <h2>
        I'm Justin. I do physics and stuff.
      </h2>

      <p class="readable">
        More specifically, I am a Ph.D.
        Candidate at Indiana University studying supernova neutrinos. I work on
        the NOvA long-baseline oscillation experiment full-time and moonlight at
        the HALO supernova neutrino detector at SNOLAB. You can read more about
        that on the <a href="/research">Research</a> page.
      </p>

      <p class="readable">
        Hailing from the great state of Wisconsin, I'm an avid cheesehead,
        midwestern-polite to a fault, and a firm believer in the
        <a href="http://www.themidwestival.com/blog/2015/1/15/the-wisconsin-old-fashioned-an-abridged-history" target="_blank">
          Brandy Old Fashioned
        </a>
        (as opposed to lesser variants).
      </p>

      <p class="readable">
        When I'm not physics-ing to pay the bills, I can be spotted working on
        a variety of hobbies depending on my mood, including but not limited to:
        physics-ing for fun, reading (Goodreads me), programing personal
        (Github me) projects, writing, buying strawberry rhubarb jam at the
        farmer's market, and playing Civilization, the greatest video game
        franchise known to human-kind.
      </p>

      <p class="readable">
        One of my favorite pastimes is website building. I've been creating
        websites since the era of Angelfire and Geocities (and Homestead) and I
        just kept at it through the years picking up new technologies as they've
        developed. To my surprise, this eneded up being a pretty useful skill,
        and I've put it to use in a professional context through the development
        of monitoring and information systems at several neutrino experiments.
        Web design also provides a great creative outlet for me; something that
        I believe is an important but undervalued aspect of being a scientist.
      </p>

      <p class="readable">
        I strongly believe that it is important to give back to the communities
        of which one is a part. I have primarily tended to this responsibility
        through civil service and outreach efforts. Over the years, I have
        served at a high level in a variety of organizations. With each position,
        I learn a lot that I can apply in the future, but in general I tend to
        approach leadership with the "leave it better than found it" philosophy.
        What is the community that the organization serves, and what are their
        needs? How can that be improved? How can we use the organization to
        stengthen the community? How can we strengthen the organization from
        within to ensure that it can continue to effectively support the
        community for years to come? These are fundamental questions I think an
        organization of any size should ask itself.
      </p>

      <p class="readable">
        As for outreach, I believe as scientists we have a responsibility to
        interface with the general public. After all, they pay for our salaries
        and lab equipment, and who would want to pass up an opportunity to
        inspire young, curious minds? I try to take advantage of opportunities
        to share my enthusiasm and work with the general public when they
        present themselves. This is usually in the form of ask-a-scientist style
        talks. I really have it easy, because everyone loves to learn about
        exploding stars. In addition to talks, I've volunteered at local
        astronomy days and for programs like adopt-a-physicist. More recently,
        I've turned some attention to reaching a wider audience through social
        media. That's a work in progress, but an important one in these days.
        For more on this, visit my <a href="/outreach">Outreach</a> page.
      </p>

      <p class="readable">
        Well that's about it for this page. I'm glad you're here and hope you
        enjoy the rest of the site.
      </p>

      <p class="readable">
        Stay as long as you'd like and feel free to
        pet the <a href="/cat">Cat</a> if you see him wandering around, but be careful; he bites
        when he's playful.
      </p>

    </div>
  </div>
</div>

{% endblock %}
