{% extends "page.html" %}

{% block content %}

<div class="container pt-4 pb-4">

  <div class="row mt-4">
    <div class="col-12 col-lg-6 border-right pr-4 pb-4">
      <div class="text-center">
        <h4>Ph.D. Physics Candidate</h4>
        <h5><em>Indiana University</em></h5>
        <img class="rounded" src="{{ url_for('static', filename='img/iu_banner.png') }}" width=100%;>
      </div>

      <br>
      <p>
        For my Ph.D. research, I am preparing the NOvA neutrino detectors for
        the next galactic core-collapse supernova and exploring their sensitivity
        to underlying physics for a selection of supernova models and progenitor
        distances. A major component of this research is separating the faint
        signal in the presence of a large background, a "needle in a haystack"
        sort of problem. As a part of this effort, NOvA interfaces with the
        SuperNova Early Warning System (SNEWS), a global network of neutrino
        detectors dedicated to alerting global neutrino and astronomical
        communities to an imminent supernova.
      </p>

      <p>
        <strong><em>Learn more about...</em></strong><br>
        • <a href="https://physics.indiana.edu/" target="_blank">Indiana University's Physics program</a><br>
        • <a href="https://novaexperiment.fnal.gov/" target="_blank">NOvA neutrino experiment</a><br>
        • <a href="https://snews.bnl.gov/" target="_blank">SuperNova Early Warning System (SNEWS)</a>
      </p>
    </div>

    <div class="col-12 col-lg-6 pl-4">
      <div class="text-center">
        <h4>Technology and National Security Fellow</h4>
        <h5><em>National Security Innovation Network</em></h5>
        <img class="rounded" src="{{ url_for('static', filename='img/tnsf_banner.png') }}" width=100%;>
      </div>

      <br>
      <p>
        As a TNSF fellow, I am applying my training as a physicist to U.S.
        national security challenges with the Office of the Assistant Secretary
        of the Air Force for Installations, Environment, and Energy (SAF/IE).
      </p>

      <p>
        <strong><em>Learn more about...</em></strong><br>
        • <a href="https://www.nsin.us/tnsf/" target="_blank">Technology and National Security Fellowship</a><br>
        • <a href="https://www.nsin.us/" target="_blank">National Security Innovation Network</a><br>
        • <a href="https://www.safie.hq.af.mil/" target="_blank">Assis. Sec.
        of the Air Force for Installations, Environment, and Energy</a>
      </p>
    </div>
  </div>

  <div class="row bg-page pt-3 pb-3 border rounded" style="margin-top: 75px;">
    <div class="col-3">
      <img class="rounded" src="{{ url_for('static', filename='img/vasel.png') }}" width=100%;>
    </div>
    <div class="col-9">
      <h3>Hi, I'm Justin 👋</h3>
      <p>
        I am an experimental particle physicist by
        training with an interest in where physics and government intersect,
        especially as it relates to issues of national security. I am currently
        working in that space as a
        <a href="https://www.nsin.us/tnsf/" target="_blank">Technology and
        National Security Fellow</a> with the
        <a href="https://www.nsin.us/" target="_blank">National Security
        Innovation Network</a> within the U.S. Department of Defense.
      </p>
      <p>
        In physics, I have been deeply involved in efforts to detect neutrinos
        from the next galactic core-collapse supernova as a member of the
        <a href="https://novaexperiment.fnal.gov/" target="_blank">NOvA</a>,
        <a href="https://www.snolab.ca/halo/" target="_blank">HALO</a>, and
        <a href="https://snews.bnl.gov/" target="_blank">SNEWS</a>
        collaborations.
      </p>
      <p>
        I also enjoy outreach, and try to give talks to the general public
        whenever I get the chance. In the meantime, I post about science and my
        work on social media, particualrly Twitter
        (<a href="https://www.twitter.com/justinvasel" target="_blank">@justinvasel</a>).
      </p>
      <p>
        If you would like to reach out, you can reach me by
        <a href="mailto:justin.vasel@gmail.com" target="_blank">email</a>.
      </p>
    </div>
  </div>
</div>

{% endblock %}
