<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ config.GATRACKINGID }}"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', '{{ config.GATRACKINGID }}');
    </script>

    <title>Justin Vasel</title>

    <!-- styles -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css?family=EB+Garamond:400,400i|Source+Sans+Pro:400,600" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro:400,600" rel="stylesheet">

    <!-- favicon -->
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/favicon-16x16.png') }}" sizes="16x16">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/favicon-32x32.png') }}" sizes="32x32">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/favicon-96x96.png') }}" sizes="96x96">

  </head>
  <body class="bg-light">

    <div class="container pt-5">
      <div class="row">
        <div class="col-12">
          <h1 class="display-1 serif text-center">Justin Vasel</h1>
          <h5 class="serif text-center text-muted">~ <em>Physics Ph.D. Candidate</em> ~</h5>
        </div>
      </div>
      <br><br><br><br>
      <div class="row">
        <div class="col-12">
          <div class="text-center" id="feynman"></div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-12">
          <h3 class="serif text-center">Remodeling. Stay tuned...</h3>
        </div>
      </div>
      <br><br><br><br><br>
      <div class="row">
        <div class="col-12">
          <h5 class="serif text-center">
            <em>
              In the meantime, follow me on <i class="fab fa-twitter"></i> Twitter:
              <a href="https://www.twitter.com/justinvasel">@justinvasel</a>
            </em>
          </h5>
        </div>
      </div>
    </div>


    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/feyn.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/fa.js') }}"></script>

    <script>
      $(document).ready(function() {
        config = {
          description: 'A Feynman Diagram',
          width:  300,
          height: 120,
          incoming: {
            i1: '0,90'
          },
          outgoing: {
            o1: '300,90'
          },
          vertex: {
            v1: '85,90',
            v2: '200,90'
          },
          fermion: {
            line: 'i1-v1-v2-o1'
          },
          photon: {
            arc: 'v2-v1'
          },
          thickness: 3
        };

        $('#feynman').feyn(config);
      });
    </script>
  </body>
</html>
