{% extends "base.html" %}

{% block page %}

<div class="container pt-5">
  <div class="row">
    <div class="col-12">
      <h1 class="display-1 serif text-center">Justin Vasel</h1>
      <h5 class="serif text-center text-muted">~ <em>Physics Ph.D. Candidate</em> ~</h5>
    </div>
  </div>
  <br><br><br><br>
  <div class="row">
    <div class="col-12">
      <div class="text-center" id="feynman"></div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-12">
      <h3 class="serif text-center">Renormalizing. Stay tuned...</h3>
    </div>
  </div>
  <br><br><br><br><br>
  <div class="row">
    <div class="col-12">
      <h5 class="serif text-center">
        <em>
          In the meantime, follow me on <i class="fab fa-twitter"></i> Twitter:
          <a href="https://www.twitter.com/justinvasel">@justinvasel</a>
        </em>
      </h5>
    </div>
  </div>
</div>

<script>
  $(document).ready(function() {
    config = {
      description: 'A Feynman Diagram',
      width:  300,
      height: 120,
      incoming: {
        i1: '0,90'
      },
      outgoing: {
        o1: '300,90'
      },
      vertex: {
        v1: '85,90',
        v2: '200,90'
      },
      fermion: {
        line: 'i1-v1-v2-o1'
      },
      photon: {
        arc: 'v2-v1'
      },
      thickness: 3
    };

    $('#feynman').feyn(config);
  });
</script>

{% endblock %}
