{% extends "base.html" %}

{% block page %}
<div class="container bg-light pt-3 border-bottom border-secondary">
  <div class="row">
    <div class="col-12">
      <h1 class="display-3 serif text-center">Justin Vasel</h1>
      <h6 class="serif text-center text-muted">~ <em>Physics Ph.D. Candidate</em> ~</h6>
      <h6 class="text-center social-media-links">
        <a href="https://www.twitter.com/justinvasel" target="_blank" data-toggle="tooltip" data-placement="bottom" title="Twitter">
          <i class="fab fa-twitter"></i>
        </a> &nbsp;
        <a href="https://www.github.com/justinvasel" target="_blank" data-toggle="tooltip" data-placement="bottom" title="Github">
          <i class="fab fa-github"></i>
        </a> &nbsp;
        <a href="https://www.linkedin.com/in/justinvasel/" target="_blank" data-toggle="tooltip" data-placement="bottom" title="LinkedIn">
          <i class="fab fa-linkedin-in"></i>
        </a> &nbsp;
        <a href="https://inspirehep.net/author/profile/J.Vasel.1" target="_blank" data-toggle="tooltip" data-placement="bottom" title="INSPIRE-HEP">
          <i class="fab fa-react"></i>
        </a> &nbsp;
        <a href="https://www.goodreads.com/justinvasel" target="_blank" data-toggle="tooltip" data-placement="bottom" title="Goodreads">
          <i class="fab fa-goodreads"></i>
        </a> &nbsp;
      </h6>
    </div>
  </div>

  <ul class="nav justify-content-center serif">
    <li class="nav-item">
      <a class="nav-link" href="/about">About</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/cv">CV</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/research">Research</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/code">Code</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/outreach">Outreach</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/events">Events</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/contact">Contact</a>
    </li>
  </ul>
</div>

{% block content %}
<!-- Page content goes here -->
{% endblock %}

<div class="container mt-5">
  <div class="row">
    <div class="col-12">
      <hr>
      <p class="text-center text-muted">
        <strong>&copy; 2018 JUSTIN VASEL</strong><br>
        <span class="mono"><small>&lt;justin <strong>[dot]</strong> vasel <strong>[at]</strong> gmail <strong>[dot]</strong> com&gt;</small></span><br>
        <small>
          <a href="https://github.com/justinvasel/justinvasel.com" target="_blank">
            <i class="fa fa-code-branch"></i> Fork me on <i class="fab fa-github"></i> Github
          </a>
          <br><br>
          <span class="mono">
            <a href="/site">v{{ config.VERSION }}</a>
            <br><br>
            :wq
          </span>
        </small>
      </p>
    </div>
  </div>
</div>

<script>
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })
</script>
{% endblock %}
