{% extends "base.html" %}

{% block page %}
<div class="container pt-3" style="margin-top: 100px;">
  <div class="row" style="margin-bottom: 50px;">
    <div class="col-12 text-center">
      <h1 class="display-1" style="margin-bottom: -10px;">Justin Vasel</h1>
      <div class="text-muted mb-4">
        <em>
          high-energy physics &nbsp;•&nbsp; science policy &nbsp;•&nbsp; national security
        </em>
      </div>

      <h6 class="text-center social-media-links">
        <a href="https://www.twitter.com/justinvasel" target="_blank" data-toggle="tooltip" data-placement="bottom" title="Twitter">
          <i class="fab fa-twitter"></i>
        </a> &nbsp;
        <a href="https://www.instagram.com/justinvasel/" target="_blank" data-toggle="tooltip" data-placement="bottom" title="Instagram">
          <i class="fab fa-instagram"></i>
        </a> &nbsp;
        <a href="https://www.github.com/justinvasel" target="_blank" data-toggle="tooltip" data-placement="bottom" title="Github">
          <i class="fab fa-github"></i>
        </a> &nbsp;
        <a href="https://www.linkedin.com/in/justinvasel/" target="_blank" data-toggle="tooltip" data-placement="bottom" title="LinkedIn">
          <i class="fab fa-linkedin-in"></i>
        </a> &nbsp;
        <a href="https://www.goodreads.com/justinvasel" target="_blank" data-toggle="tooltip" data-placement="bottom" title="Goodreads">
          <i class="fab fa-goodreads"></i>
        </a> &nbsp;
        <a href="https://inspirehep.net/author/profile/J.Vasel.1" target="_blank" data-toggle="tooltip" data-placement="bottom" title="INSPIRE-HEP">
          <i class="fab fa-react"></i>
        </a> &nbsp;
        <a href="https://scholar.google.com/citations?user=E9yWhq0AAAAJ" target="_blank" data-toggle="tooltip" data-placement="bottom" title="Google Scholar">
          <i class="fab fa-google"></i>
        </a> &nbsp;
        <a href="mailto:justin.vasel@gmail.com" target="_blank" data-toggle="tooltip" data-placement="bottom" title="justin.vasel@gmail.com">
          <i class="fa fa-envelope"></i>
        </a> &nbsp;
      </h6>
    </div>
  </div>

{% block content %}
<!-- Page content goes here -->
{% endblock %}

<div class="container-fluid" style="margin-top: 200px;">
  <div class="row">
    <div class="col-12">
      <br>
      <p class="text-center text-muted">
        <small>
          <a href="https://github.com/justinvasel/justinvasel.com" target="_blank">
            <i class="fa fa-code-branch"></i> Find this site on <i class="fab fa-github"></i> Github
          </a>
          <br>
          <span class="mono">
            v{{ config.VERSION }}
            <br>
            :wq
          </span>
        </small>
      </p>
    </div>
  </div>
</div>

<script>
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })
</script>
{% endblock %}
