{% extends "page.html" %}

{% block content %}

<div class="container serif bg-page pt-4 pb-4 rounded-bottom">
  <div class="row">
    <div class="col-12">
      <h1>Research</h1>
      <hr>

      <p class="readable">
        My work mainly involves the detection of galactic supernova neutrinos.
        That's a little misleading, because we haven't had any supernova
        neutrinos to detect since 1987 (which was in general a great year, I
        might add). But, someday sooner or later another galactic supernova will
        happen and we damn well better be ready to catch those neutrinos as
        they zip through our detectors. So that's my job.
      </p>

      <p class="readable">
        Additionally, I have done a lot of work in the data acquisition side of
        things. I specialize in designing, improving, and maintaining monitoring
        systems, and I am one of just a few experts on the timing system at the
        NOvA experiment.
      </p>

      <p class="readable">
        My life as a researcher began in 2009 as a physics undergraduate
        studying the H\(\alpha\) emitting zones of the star Spica. I've always
        had a soft spot for astrophysics, so I decided to stick with it when I
        began pursuing my masters degree in physics at the University of
        Minnesota Duluth (UMD). "Fine, I'll do physics," I said to no one in
        particular. "But, it better have something to do with astronomy."
      </p>

      <figure class="figure float-left mr-3" style="width: 50%;">
        <img class="figure-img img-fluid rounded border" src="{{ url_for('static', filename='img/justin_snolab.jpg') }}" width="100%">
        <figcaption class="figure-caption">
          <em>Fig. 1:</em> Me (Justin) taking a selfie with the HALO
          detector at SNOLAB 6,800 ft underground. No big deal.
        </figcaption>
      </figure>

      <p class="readable">
        "Okay," said my research adviser,
        <a href="http://neutrino.d.umn.edu/~habig/" target="_blank">
          Dr. Alec Habig
        </a>
        (I'm paraphrasing). So I started work at the Helium and Lead Observatory
        (HALO), a dedicated supernova neutrino detector 6,800 feet below ground
        at SNOLAB in Ontario.
      </p>

      <p class="readable">
        After graduating from UMD with my masters, I set up shop in Indiana
        University's physics department for another helping of graduate studies.
        Somehow, I managed to survive a second encounter with Jackson's E&M and
        began my research with the NOvA experiment under the advisement of
        <a href="http://www.physics.indiana.edu/~messier/Professor_Mark_Messier.html" target="_blank">
          Dr. Mark Messier</a>.
      </p>

      <p class="readable">
        Below you will find some more details about the type of work I have
        done and am interested in.
      </p>

    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <h2>Supernova Neutrinos</h2>
    </div>
  </div>

</div>

{% endblock %}
